<div class="content">
  <div class="header">
    <mat-icon aria-hidden="true" class="topIcons" id="back" (click)="closeDialog()">arrow_back</mat-icon>
    <div class="headerText">Menu de Ajustes</div>
  </div>

  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" dynamicHeight="true">
    <mat-tab label="Comidas">
      
      <div class="contentFood">
          <app-foods-drag-drop [edit]="true"></app-foods-drag-drop>
      </div>
      
      
    </mat-tab>
  
    <mat-tab label="Marcadores">
      <div class="content">
        <h2>Menu de Opciones</h2>
        <div>
            <h4>A la hora de imprimir un ticket:</h4>
            <mat-radio-group [(ngModel)]="highlightOption" (change)="highlightOptions($event)" color="primary">
              <mat-radio-button value="0">No hacer nada</mat-radio-button><br>
              <mat-radio-button value="1">Marcar el cliente temporalmente</mat-radio-button><br>
              <mat-radio-button value="2">Marcar el cliente y desmarcar manualmente</mat-radio-button> 
            </mat-radio-group> <br>
            <mat-icon *ngIf="highlightOption == '2'" id="delete" (click)="deleteLocalStorage()">delete</mat-icon>
          </div>
  
          <!-- Por si se te olvida Ramon, deberias de agregar tambien la opción de marcar las celdas de los clientes que ya 
           se han imprimido, seguro que es bueno, o minimo sirve de algo-->
          
      </div>
    </mat-tab>
  
    <mat-tab label="Personalización">
      <div class="content">
        
        <h2>Elige tu paleta de colores</h2>
        <div *ngFor="let theme of themes" class="rectangulo" (click)="changeButton(theme.name)">
          <div class="circulo" [style.backgroundColor]="theme.colors.primary"></div>
          <div class="circulo" [style.backgroundColor]="theme.colors.accent"></div>
          <div class="circulo" [style.backgroundColor]="theme.colors.warn"></div>
        </div>
      </div>
    </mat-tab>
  
    
  
      <!--TODO: LA IDEA ES CREAR PESTAÑAS, ESTA SERIA LA PESTAÑA DE MARCAR LOS TICKETS IMPRIMIDOS, LA SIGUIENTE
      PESTAÑA SERA DE PERSONALIZACIÓN. CON EL TIEMPO SE AÑADIRAN MAS Y MAS  https://www.npmjs.com/package/@angular-material-components/color-picker-->
      <!--<p>Opción seleccionada: {{ highlightOption }}</p>-->
  </mat-tab-group>
</div>

