<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Lunes">
        <div class="containerTab">
            Primeros:
            <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let food of foods" cdkDrag (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()">
                    {{ food }}
                </div>
            </div>
            Segundos:
            <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let food of foods2" cdkDrag (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()">
                    {{ food }}
                </div>
            </div>
            Terceros:
            <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let food of foods" cdkDrag (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()">
                    {{ food }}
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Martes" class="containerTab">
        <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let food of foods" cdkDrag (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()">
                {{ food }}
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Miercoles">
        <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let food of foods" cdkDrag (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()">
                {{ food }}
            </div>
        </div>
    </mat-tab>
</mat-tab-group> 

<!-- <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let food of foods" (cdkDragStarted)="onDragStart(food)" (cdkDragEnded)="onDragEnd()" cdkDrag>
        {{ food }}
    </div>
</div> -->