<div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tabs">
    @for (category of data; track category.id) {
      <div>
        <mat-tab label="{{ category.name }}" class="containerTab">

          <div class="categoryContent">
            @for (subCategory of category.subCategories; track subCategory.id) {
              <div class="subCategories">

                @if (!editingSubCategory[subCategory.id]) {
                  <div [ngClass]="{'subCategoryDivEdit': edit}" class="subCategoryDiv" (click)="toggleSubCategoryEdit(subCategory.id)">{{ subCategory.name == 'Default' ? null : subCategory.name }}</div>
                }
                @if (editingSubCategory[subCategory.id]) {
                  <div class="subCategoryEditDiv">
                    <input class="editInput" (blur)="editSubcategory($event, subCategory.id)" (keydown.enter)="editSubcategory($event, subCategory.id)">
                    <mat-icon (click)="deleteSubCategory(subCategory.id)">delete</mat-icon>
                  </div>
                }

                @if (subCategory.foods.length != 0) {
                  <div cdkDropList id="foodList" cdkDropListOrientation="horizontal" class="list" (cdkDropListDropped)="drop($event, subCategory.foods)">
                    @for (food of subCategory.foods; track food.id) {
                      <div class="box" cdkDrag (cdkDragStarted)="onDragStart(food.name, food.id)" (cdkDragEnded)="onDragEnd()">
                        {{ food.name }}
                      </div>
                    }

                    @if (!addingFoodMap[subCategory.id] && edit && !addingFood) {
                      <div class="addBox" (cdkDragEnded)="onDragEnd()" (click)="toggleAddingFood(subCategory.id)">Añadir +</div>
                    }
                    @if (addingFoodMap[subCategory.id] && edit) {
                      <div>
                        <input (blur)="saveFood($event, subCategory.id, category.id)" (keydown.enter)="saveFood($event, subCategory.id, category.id)"/>
                      </div>
                    }
                  </div>
                } @else {
                  @if (!edit) {
                    <div>No se ha añadido ninguna comida</div>
                  }
                  @if (edit) {
                    <div>
                      @if (!addingFoodMap[subCategory.id] && edit && !addingFood) {
                        <div class="addBox" (cdkDragEnded)="onDragEnd()" (click)="toggleAddingFood(subCategory.id)">Añadir +</div>
                      }
                      @if (addingFoodMap[subCategory.id] && edit) {
                        <div>
                          <input (blur)="saveFood($event, subCategory.id, category.id)" (keydown.enter)="saveFood($event, subCategory.id, category.id)"/>
                        </div>
                      }
                    </div>
                  }
                }
              </div>
            }

            @if (edit) {
              <div>
                <br>
                @if (!addingSubCategory) {
                  <button mat-button color="primary" (click)="addingSubCategory = !addingSubCategory">Añadir Sub-Categoria</button>
                }
                @if (addingSubCategory) {
                  <input class="editInput" (blur)="saveSubCategory($event, category.id)" (keydown.enter)="saveSubCategory($event, category.id)">
                }
              </div>
            }

          </div>
          @if (category.subCategories.length == 0 && !edit) {
            <div>
              No se ha añadido ninguna sub-categoria
            </div>
          }

        </mat-tab>
      </div>
    }
    @if (edit && showForm) {
      <mat-tab label="Opciones Categorias">
        <div class="categoryOptions">
          <div class="formDiv">
            <h2>Crear nueva Categoria</h2>
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmitCategory()">
              <mat-form-field>
                <mat-label>Título de la categoría</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field> <br>

              @if (data != 0) {
                <mat-checkbox formControlName="copySubCategories">Copiar subcategorias</mat-checkbox> <br>
              }
              @if (categoryForm.get('copySubCategories')?.value && data != 0) {
                <mat-form-field appearance="fill">
                  <mat-label>Categoria a copiar</mat-label>
                  <mat-select formControlName="copyCategory">
                    @for (category of data; track category.id) {
                      <mat-option [value]="category.name">{{ category.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <br>
              }

              <button mat-raised-button color="primary" type="submit">Crear Categoría</button>
            </form>
          </div>


          @if (data.length > 0) {
            <div class="formDiv">
              <h2>Eliminar Categoria</h2>

              <mat-form-field appearance="fill">
                <mat-label>Elige una categoría</mat-label>
                <mat-select [(value)]="deletingCategoryId">
                  @for (category of data; track category.id) {
                    <mat-option [value]="category.id">
                      {{ category.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field><br>

              <button mat-raised-button color="primary" (click)="deleteCategory()">Eliminar Categoría</button>
            </div>
          }


          @if (data.length > 0) {
            <div class="formDiv">
              <h2>Editar Categoria</h2>

              <mat-form-field appearance="fill">
                <mat-label>Elige una categoría</mat-label>

                <mat-select [(value)]="editingCategoryId">
                  @for (category of data; track category.id) {
                    <mat-option [value]="category.id">
                      {{ category.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field><br>

              @if (editingCategoryId != null) {
                <mat-form-field appearance="fill">
                  <mat-label>Nombre de la categoria</mat-label>
                  <input matInput [(ngModel)]="categoryEditName" (blur)="editingCategory()" (keydown.enter)="editingCategory()"/>
                </mat-form-field>
                <br>
              }

              <button mat-raised-button color="primary" (click)="editingCategory()">Editar Categoría</button>
            </div>
          }
        </div>

      </mat-tab>
    }
  </mat-tab-group>

</div>
@if (edit && deletingFood) {
  <div class="deleteFood" (mouseup)="deleteFood()">
    Eliminar
  </div>
}
