.top{
    padding-right: 1em;
    padding-left: 1em;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.defaultSearch{
    padding-top: 1em;
    padding-left: 1em;
    font-size: 14px;
    width: 30%;
    padding-right: 1em;
}

::ng-deep .mdc-text-field {
    background-color:rgba(255, 255, 255, 0.4) !important;
}

.side{
    display: flex;
    align-items: center ;
    width: 80%;
    padding-left: 10px;
}

.side.hidden {
    transform: scale(0.01); 
}

button{
    border-radius: 30px;
    padding: 26px;
}

.highlight {
    background-color: var(--accent-color);
}

.side-right{
    display: flex;
    align-items: center;
}

#mainIcon {
    margin-left: 25px;
    scale: 2;
    padding-right: 5px;
}

mat-icon:hover {
    cursor: pointer;
    filter: brightness(0.92);
    
}

.table-fit{
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin-bottom: 25px;
}

table{
    background-color: rgba(255, 255, 255, 0);
}

.headerTable{
    background-color: rgba(255, 255, 255, 0.2);
}

.mat-mdc-row:hover {
    background-color: var(--warn-color);
    border-radius: 1em;
    cursor: pointer;
}

mat-paginator{
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 10px;
}



/*SideNav*/

mat-drawer-container{
    background-color: rgba(0, 255, 255, 0);
    height: 100%;
}

mat-drawer{
    width: 20%;
    background-color: var(--warn-color);
    filter: brightness(1.01);
}

.drawerContent{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.sideDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}