mat-form-field{
    padding-top: 1em;
    font-size: 14px;
    width: 30%;
}

.mat-mdc-row:hover {
    background-color: var(--warn-color);
    border-radius: 1em;
    cursor: pointer;
}

button{
    border-radius: 30px;
    padding: 26px;
}

.top{
    padding-right: 1em;
    padding-left: 1em;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side{
    display: flex;
    align-items: center ;
    width: 80%;
}

mat-checkbox{
    margin-left: 20px;
}

.highlight {
    background-color: var(--accent-color);
}

.side-right{
    display: flex;
    align-items: center;
}

mat-icon {
    margin-left: 30px;
    scale: 2;
}

mat-icon:hover {
    cursor: pointer;
    filter: brightness(0.92);
}

.table-fit{
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

table{
    background-color: rgba(255, 255, 255, 0);
}

mat-paginator{
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 10px;
}

.headerTable{
    background-color: rgba(255, 255, 255, 0.2);
}

::ng-deep .mdc-text-field {
  background-color:rgba(255, 255, 255, 0.4) !important;
}

