*{
   padding-right: 1em;
   padding-left: 1em;
}

mat-form-field{
    padding-top: 1em;
    font-size: 14px;
    width: 30%;
}

.mat-mdc-row:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 1em;
    cursor: pointer;
    font-weight:bold;
}

table{
    background-color: rgb(244, 244, 244);
    border-radius: 10px auto;
}

mat-paginator{
    padding-top: 1em;
}