<div id="ticket">
    <div class="top">
        <img src="./assets/logo.png">
        <div class="sectop">
            @if (ticketType === 'Menu') {
                <div><p id="hora">Hora<br>Entrega:</p></div>
            }
            <p class="p">{{time}}</p>
            <div>Fecha: {{ day | date: 'dd/MM' }}</div>
        </div>
    </div>
    <div class="mid">
        <div class="data">
            Cliente:‎ ‎
            <p class="p">{{clientReform.name}}</p>
        </div>
        <div class="data">
            Dirección:‎ ‎
            <p class="p">{{clientReform.address}}</p>
        </div>
        <div class="data">
            Telef:‎ ‎
            <p class="p">{{clientReform.phone}}</p>
        </div>
        @if (ticketType === 'Menu diario') {
            <h1>{{ ticketType }} <div> {{ client[1] }} </div></h1>
        }
        <p class="food" [innerHTML]="food"></p>
    </div>
    <br><br>-
</div>
