<div id="ticket">
    <div class="top">
        <img src="./assets/logo.png">
        <div class="sectop">
            <p id="hora">Hora<br>Entrega:</p>
            <p class="p">{{time}}</p>
            <div>Fecha: {{ day | date: 'dd/MM' }}</div>
        </div>
    </div>
    <div class="mid">
        <div class="data">
            Cliente:‎ ‎ 
            <p class="p">{{client.name}}</p>
        </div>
        <div class="data">
            Dirección:‎ ‎ 
            <p class="p">{{client.address}}</p>
        </div>
        <div class="data">
            Telef:‎ ‎ 
            <p class="p">{{client.phone}}</p>
        </div>
        <h1>Menú</h1>
        <p class="food">{{food}}</p>
    </div>
    
</div>