.content{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction:column ;
    align-self: center;
    width: 95%;
}

button{
    min-height: 50px;
    font-size: 15px;
    border-radius: 6px;
    width: 95%;
}

button:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    font-weight: 600;
}

mat-form-field{
    width: 40%;
}