.content{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction:column ;
    align-self: center;
    width: 95%;
}

button{
    padding: 2em;
    border-radius: 6px;
    width: 95%;
}

mat-form-field{
    width: 40%;
}