<div class="content">
    <div *ngIf="checkDayValue()" class="checker">
        <h2>Ticket para {{data.client.name}}</h2>
        <h3>Hora prevista de la entrega:</h3>
        <mat-form-field>
            <input matInput [(ngModel)]="time" placeholder="Hora...">
        </mat-form-field>
        <div class="Botones" *ngIf="multipleSchedule">
            <h3>Selecciona que ticket quieres sacar</h3>
            <div *ngFor="let food of data.dayValue; let i = index">
                <ng-container *ngIf="data.dayValue[i] != null">
                  <button mat-button type="submit" (click)="selectFood(data.dayValue[i])">{{ data.dayValue[i] }}</button>
                  <br><br>
                </ng-container>
              </div>
              
        </div>
        <button *ngIf="!multipleSchedule" (click)="selectFood(data.dayValue[0])">{{ data.dayValue[0] }}</button>
    </div>
    
    <h3 *ngIf="!checkDayValue()">No hay ningun ticket para <br>imprimir este día</h3>
</div>
