@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

// Definición de temas con comillas para evitar warnings de Sass
$themes: (
    "default": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-gray-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-gray-palette, 400),
            warn: mat.m2-define-palette(mat.$m2-gray-palette, 50)
        )
    )),
    "pink": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-pink-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-pink-palette, A100),
            warn: mat.m2-define-palette(mat.$m2-pink-palette, 50)
        )
    )),
    "red": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-red-palette, 500),
            accent: mat.m2-define-palette(mat.$m2-red-palette, A200),
            warn: mat.m2-define-palette(mat.$m2-red-palette, 50)
        )
    )),
    "orange": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-orange-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-orange-palette, A200),
            warn: mat.m2-define-palette(mat.$m2-orange-palette, 50)
        )
    )),
    "blue": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-blue-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-blue-palette, A200),
            warn: mat.m2-define-palette(mat.$m2-blue-palette, 50)
        )
    )),
    "cyan": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-cyan-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-cyan-palette, A400),
            warn: mat.m2-define-palette(mat.$m2-cyan-palette, 50)
        )
    )),
    "light-green": mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette(mat.$m2-light-green-palette, 600),
            accent: mat.m2-define-palette(mat.$m2-light-green-palette, A200),
            warn: mat.m2-define-palette(mat.$m2-light-green-palette, 50)
        )
    )),
);

@each $theme-name, $theme-config in $themes {
    .#{$theme-name} {
      @include mat.all-component-themes($theme-config);
    }
}
