<div class="content">
  <div class="header2">
    <div class="header">
      <mat-icon aria-hidden="true" class="topIcons" id="back" (click)="closeDialog()">arrow_back</mat-icon>
      <div class="headerText">Pedidos de formularios</div>
    </div>

    @if (historyList.length != 0) {
      <div>
        @if (historyMode) {
          <mat-icon color="primary" [class.delete-active]="historyDeleteMode" id="iconHistory" (click)="toggleHistoryDeleteMode()">delete</mat-icon>
        }
        <mat-icon color="primary" id="iconHistory" (click)="historyMode = !historyMode; historyDeleteMode = false">history</mat-icon>
      </div>
    }
  </div>

  @if (!historyMode) {
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" dynamicHeight="true"
    (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Paellas">
        <div class="content">
          @if (paellas.length > 0) {
            <div>
              @for (paella of paellas; track $index; let i = $index) {
                <div class="rectangulo">
                <div class="test">
                  <div class="rec-content">
                    Paella: {{ paella[1] }} <br>
                    Personas: {{ paella[2] }} <br>
                    Entrega: {{ paella[3] }} {{ paella[4] }}
                  </div>
                  <div class="rec-content">
                    Nombre: {{ paella[5] }} <br>
                    Dirección: {{ paella[6] }} <br>
                    Teléfono: {{ paella[7] }}
                  </div>
                </div>

                <mat-icon id="mainIcon" color="primary" (click)="selectFormTicket('Paella', paella, i)">print</mat-icon>
              </div>
              }
              
            </div>
          }
          @else { <div>No hay ningún envio de paella</div> }
         

        </div>
      </mat-tab>

      <mat-tab label="Raciones">
        <div class="content">

          @if (raciones.length > 0) {
            <div>
              @for (racion of raciones; track $index; let i = $index) {
                <div class="rectangulo">
                  <div class="test">
                    <div class="rec-content">
                      Nombre: {{ racion[5] }} <br>
                      Direccion: {{ racion[3] }} <br>
                      Teléfono: {{ racion[4] }} <br>
                      Entrega: {{ racion[2] }} {{ racion[1] }}
                    </div>
                    <div class="rec-content">
                      @for (item of filteredRaciones[i] | keyvalue; track item.key) {
                        <div>-{{ item.key }}: {{ item.value }}</div>
                      }
                    </div>
                  </div>

                  <mat-icon id="mainIcon" color="primary" (click)="selectFormTicket('Raciones', racion, i)">print</mat-icon>
                </div>
              }
            </div>
          } @else {
            <div>No hay ningún envio de raciones</div>
          }

        </div>
      </mat-tab>

      <mat-tab label="Menus diarios">
        <div class="content">

          @if (diarios.length > 0) {
            <div>
              @for (diario of diarios; track $index; let i = $index) {
                <div class="rectangulo">
                  <div class="test">
                    <div class="rec-content">
                      Menu: {{ diario[1] }} a las {{ diario[2] }}<br>
                      Primero: {{ diario[6] }} <br>
                      Segundo: {{ diario[7] }} <br>
                      Postre: {{ diario[8] }}
                    </div>
                    <div class="rec-content">
                      @if (!isNumeric(diario[9])) { <div>Bebida: {{diario[9]}}</div> }
                      Nombre: {{ diario[3] }} <br>
                      Dirección: {{ diario[4] }} <br>
                      Teléfono: {{ diario[5] }}<br>
                      @if (diario[10]) { <div>Repetir {{ diario[10]}} veces</div> }
                      @if (isNumeric(diario[9])) { <div>Repetir {{ diario[9]}} veces</div> }
                    </div>
                  </div>

                  <mat-icon id="mainIcon" color="primary"
                    (click)="selectFormTicket('Menu diario', diario, i)">print</mat-icon>
                </div>
              }
            </div>
          } @else {
            <div>No hay ningun envio de menu diario</div>
          }

        </div>
      </mat-tab>
    </mat-tab-group>
  }
  

  @if (historyMode) {
    <div class="history-wrapper">
      <h2>Historial de pedidos</h2>

      <div class="history-filters">
        <label>
          Desde
          <input type="date" [(ngModel)]="fromDate">
        </label>
        <label>
          Hasta
          <input type="date" [(ngModel)]="toDate">
        </label>

        <div class="history-actions">
          <div class="history-action" (click)="exportFilteredHistory()">
            <mat-icon color="primary">download</mat-icon>
            <span>Exportar CSV ({{ historyTabs[activeHistoryTabIndex].label }})</span>
          </div>
          <div class="history-action" (click)="deleteFilteredHistory()">
            <mat-icon color="primary">delete</mat-icon>
            <span>Eliminar {{ historyTabs[activeHistoryTabIndex].label }}</span>
          </div>
        </div>
      </div>

      @if (historyList.length == 0) {
        <div>No hay ningún ticket en el historial</div>
      } @else {
        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" dynamicHeight="true"
          [(selectedIndex)]="activeHistoryTabIndex">
          @for (tab of historyTabs; track tab.type) {
            <mat-tab [label]="tab.label">
              <div class="content">
                @if (historyByType(tab.type).length == 0) {
                  <div>No hay ningún ticket de {{ tab.label }} en el historial</div>
                } @else {
                  @for (form of historyByType(tab.type); track form.id) {
                    <div class="rectangulo" [class.selectable]="historyDeleteMode" (click)="historyDeleteMode && deleteHistoryItem(form)">
                      <div class="test">
                        <div class="rec-content">
                          Entrega: {{ form.time }}<br>
                          <div [innerHTML]="form.data.food" class="food-list"></div>
                        </div>
                        <div class="rec-content">
                          Nombre: {{ form.name }} <br>
                          Dirección: {{ form.address }} <br>
                          Teléfono: {{ form.phone }}
                        </div>
                      </div>

                      @if (historyDeleteMode) {
                        <mat-icon id="mainIcon" class="delete-active">delete</mat-icon>
                      } @else {
                        <mat-icon id="mainIcon" color="primary" (click)="reprint(form)">print</mat-icon>
                      }
                    </div>
                  }
                }
              </div>
            </mat-tab>
          }
        </mat-tab-group>
      }
    </div>
  }
</div>
