<div class="content">
  <h2> {{ isEditMode ? 'Editar Cliente' : 'Agregar Cliente' }}</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone"/>
    </mat-form-field>
    <br>

    <mat-checkbox [checked]="isFijo" (change)="addPreference()">Fijo</mat-checkbox>
    <mat-form-field *ngIf="isFijo" id="num">
      <input matInput type="number" formControlName="preference" min="1" step="1"/>
    </mat-form-field>
    <br *ngIf="!isFijo"><br>

    <mat-checkbox formControlName="monthly">Mensual</mat-checkbox>

    <br><br>
    <button mat-button type="submit"> {{ isEditMode ? 'Editar' : 'Guardar' }}</button>
  </form>
</div>
