<div class="content">
  <h2> {{ isEditMode ? 'Editar Cliente' : 'Agregar Cliente' }}</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone"/>
    </mat-form-field>
    <br>

    <mat-checkbox [checked]="isFijo" (change)="addPreference()">Fijo</mat-checkbox>
    @if (isFijo) {
      <mat-form-field id="num">
        <input matInput type="number" formControlName="preference" min="1" step="1"/>
      </mat-form-field>
    } @else {
      <br>
    }

    <mat-checkbox [checked]="hasObservation" (change)="manageObservations()">Observaciones</mat-checkbox>
    <mat-checkbox formControlName="monthly" id="monthly">Mensual</mat-checkbox>
    <br><br>
    @if (hasObservation) {
      <mat-form-field>
        <mat-label>Escribe tus observaciones</mat-label>
        <textarea matInput formControlName="observation"></textarea>
      </mat-form-field>
    }
    <button mat-raised-button color="accent" type="submit"> {{ isEditMode ? 'Editar' : 'Guardar' }}</button>
  </form>
</div>
