.content{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 95%;
}

mat-form-field{
    width: 95%;
}

button{
    border-radius: 30px;
    padding: 26px;
}

#num {
    padding-left: 40%;
    width: 30%;
}

#monthly{
    padding-left: 30px;
}