*{
    padding-right: 1em;
    padding-left: 1em;
}

.info {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-icon {
    transform: scale(2);
}

mat-icon:hover {
    color: rgb(63, 63, 63);
    cursor: pointer;
}

.text{
    display: flex;
    font-size: 26px;
    justify-content:space-between;
}

.schedule{
    padding-top: 3em;
}

td:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    font-weight:bold;
}

input {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 90%;
    height: 40px;
}

th:hover{
    background-color: rgb(241, 241, 241);
    cursor:alias;
}