.info {
    width: 99%;
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#fijoInfo{
    padding-left: 30px;
}

.edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#editButton {
    margin-right: 30px;
    margin-left: 30px;
}

.topIcons {
    transform: scale(2);
}

#back:hover {
    color: rgb(97, 97, 97);
}

#delete:hover {
    color: rgb(232, 32, 32);
}

#add{
    margin-left: 40px;
}

#add:hover {
    filter: brightness(0.80);
}

button{
    border-radius: 30px;
    padding: 26px;
}

.text{
    display: flex;
    font-size: 26px;
    justify-content:space-between;
    margin-left: 1.5em;
}

.textContent{
    margin-left: 25px;
}

td:hover{
    background-color: var(--warn-color);
    cursor: pointer;
}

input {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 90%;
    height: 40px;
}

th:hover{
    background-color: rgb(241, 241, 241);
    cursor:alias;
}

.mainContent{
    width: 101%;
}

.table-fit{
    margin-top: 1.5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

table{
    background-color: rgba(255, 255, 255, 0);
}
  
.headerTable{
    background-color: rgba(255, 255, 255, 0.2);
}

mat-icon:hover {
    cursor: pointer;
    filter: brightness(0.92);
}

/* CSS Drag&Drop*/

.hover-active {
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s;
}

.hover-active:hover {
    background-color: var(--warn-color);
    transition: background-color 0.3s;
}

mat-drawer-container { 
    position: relative;
    height: 0; /* Tamaño inicial */
    overflow: hidden; /* Para evitar que el contenido se desborde */
    transition: height 0.3s ease-in-out;
}  

.activated-drawer-container {
    height: var(--drawer-height, 150px);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
   
.bottom-drawer {
    position: absolute; /* Posiciona el drawer dentro del contenedor */
    bottom: 0; /* Lo fija a la parte inferior */
    width: 100%; /* Lo hace ocupar todo el ancho */
    background-color: var(--warn-color);
    transform: translateY(100%); /* Ocultarlo inicialmente (mover hacia abajo) */
}
  
.bottom-drawer.open {
    transform: translateY(0); /* Mostrar el drawer (volverlo a su posición) */
}

.dragTableSpace {
    width: 98%;
    margin-top: 10px;
}

.spaceInterlude {
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
    align-items: center;
}
